.others{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.imgP{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.imgP img{
    width: 45%;
}